@media screen and (max-width: 1024px) {

  header .container.flex {
    width: 100%;
  }

  .flex {
    flex-wrap: wrap-reverse;
  }

  #map-container {
    margin: auto;
  }
  #station-summary {
    margin-bottom: 20px;
  }


}